<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant Signup</h1>
                    <h5>Feel Free to Login</h5>
                </div>
                <form [formGroup]="signupForm" (submit)="signup()">
                    <div class="mb-3">
                      <label class="form-label">Name</label>
                      <input formControlName="name" type="text" class="form-control" id="" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Mobile Number</label>
                        <input formControlName="mobile" type="number" class="form-control" id="" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="">
                    </div>
                    <button type="submit" class="btn btn-primary">Signup</button>
                </form>
                <a routerLink="/login">Already Member ? click here to login !</a>
            </div>
        </div>
    </div>
</div>